/* estilos para la navbar */
.navbar {
    background-color: #333;
    color: #fff;
  }
  
  /* estilos para el contenedor principal */
  .container {
    max-width: 1080px;
    margin: 0 auto;
  }
  
  /* estilos para los botones de página */
  .page-link {
    background-color: #333;
    color: #fff;
    border-color: #333;
  }

  #root {
    background-color: rgb(50, 142, 68);
  }